body{
    background-color: black!important;
}
.key{
    background-color: rgb(157, 157, 157);
    color: black;
    text-align: center;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s;
}
.played{
    background-color: rgb(91, 91, 91);
    transform: scale(1.2);
    border: 3px solid yellow;

}